Source/SilverlightAPP/Service References/MyWS/DService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31347/DService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Data.Models" />
  <xs:import schemaLocation="http://localhost:31347/DService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Data.Models" minOccurs="0" name="r" nillable="true" type="q1:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Data.Models" minOccurs="0" name="r" nillable="true" type="q2:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelResourcesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Data.Models" minOccurs="0" name="QueryResourceResult" nillable="true" type="q4:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxIDResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>