Source/SilverlightAPP/Service References/MyWS/DService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31347/DService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:31347/DService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:31347/DService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Data.Models" />
      <xsd:import schemaLocation="http://localhost:31347/DService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDService_AddResource_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResource" />
  </wsdl:message>
  <wsdl:message name="IDService_AddResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IDService_EditResource_InputMessage">
    <wsdl:part name="parameters" element="tns:EditResource" />
  </wsdl:message>
  <wsdl:message name="IDService_EditResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IDService_DelResource_InputMessage">
    <wsdl:part name="parameters" element="tns:DelResource" />
  </wsdl:message>
  <wsdl:message name="IDService_DelResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IDService_DelResources_InputMessage">
    <wsdl:part name="parameters" element="tns:DelResources" />
  </wsdl:message>
  <wsdl:message name="IDService_DelResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IDService_QueryResource_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryResource" />
  </wsdl:message>
  <wsdl:message name="IDService_QueryResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IDService_GetMaxID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxID" />
  </wsdl:message>
  <wsdl:message name="IDService_GetMaxID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IDService">
    <wsdl:operation name="AddResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IDService/AddResource" message="tns:IDService_AddResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDService/AddResourceResponse" message="tns:IDService_AddResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IDService/EditResource" message="tns:IDService_EditResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDService/EditResourceResponse" message="tns:IDService_EditResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IDService/DelResource" message="tns:IDService_DelResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDService/DelResourceResponse" message="tns:IDService_DelResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IDService/DelResources" message="tns:IDService_DelResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDService/DelResourcesResponse" message="tns:IDService_DelResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IDService/QueryResource" message="tns:IDService_QueryResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDService/QueryResourceResponse" message="tns:IDService_QueryResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDService/GetMaxID" message="tns:IDService_GetMaxID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDService/GetMaxIDResponse" message="tns:IDService_GetMaxID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDService" type="tns:IDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddResource">
      <soap:operation soapAction="http://tempuri.org/IDService/AddResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditResource">
      <soap:operation soapAction="http://tempuri.org/IDService/EditResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelResource">
      <soap:operation soapAction="http://tempuri.org/IDService/DelResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelResources">
      <soap:operation soapAction="http://tempuri.org/IDService/DelResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResource">
      <soap:operation soapAction="http://tempuri.org/IDService/QueryResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxID">
      <soap:operation soapAction="http://tempuri.org/IDService/GetMaxID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DService">
    <wsdl:port name="BasicHttpBinding_IDService" binding="tns:BasicHttpBinding_IDService">
      <soap:address location="http://localhost:31347/DService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>