Source/SilverlightAPP/Service References/MyWS/DService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepID" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrgID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResGroupNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResID" type="xs:decimal" />
      <xs:element minOccurs="0" name="ResNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResType" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
</xs:schema>